

/* nav */
.fa-bars {
    display: block;
  }
  .fa-x {
    display: none;
  }

  nav{
    position: fixed;
    left: -206.734;
  }
  nav a,#open,#close,.col-md-3{
    cursor: pointer;
  }
  /* Home API */
  #home .col-md-3:hover .layer{
bottom: 0;
  }
  #home .layer{
    opacity: .8;
    bottom:-100%;
    transition: all .3s;
  }

.noem,.aeg,.emlo,.passo,.repasso,.foen{
  display: none;
}

  .loading-div{
    background-color: #171717;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.form-control {
  background-color: #fff !important;
  -webkit-text-fill-color: black;
}
span{
font-weight: 400 !important;
}

.loader {
  display: flex;
  gap: .5em;
}

.leaf {
  width: 1em;
  height: 3em;
  background-color: rgb(0, 0, 0,.3);
  clip-path: polygon(0% 0%,100% 0%,100% 100%,0% 81%);
  transform: rotate(-30deg);
  animation: color 1200ms infinite;
  animation-delay: 800ms;
}

.leaf:nth-child(2) {
  clip-path: polygon(0% 35%,100% 35%,100% 100%,0% 81%);
  animation-delay: 400ms;
}

.leaf:nth-child(1) {
  clip-path: polygon(0% 70%,100% 70%,100% 100%,0% 81%);
  animation-delay: 0ms;
}

@keyframes color {
  from {
    background-color: #dc3545;
  }

  to {
  }
}
